---
import MainLayout from '@/layouts/MainLayout.astro';
import { custom_style_components } from "@/layouts/MainLayout.astro";
import site_config from '@/config/site_config.json';

import CallForPapers from '@/pages/call_for_papers.mdx';

interface Props {
  title: string,
  description: string,
  website_url: string,
  banner_path: string,
  x_handle: string,
  keywords: string,
  authors: string,
  logo_path: string;
  nav_title: string;
  nav_items: Array<{ name: string; href: string }>;
  anthology_link: string;
  email_link: string;
  youtube_link: string;
  x_link: string;
  bluesky_link: string;
  github_link: string;
}

const {
  title = site_config.name,
  description = site_config.description,
  website_url = site_config.website_url,
  banner_path = site_config.banner_path,
  x_handle = site_config.x_handle,
  keywords = site_config.keywords,
  authors = site_config.authors,
  logo_path=site_config.logo_path,
  nav_title=site_config.nav_title,
  nav_items=site_config.nav_items,
  anthology_link=site_config.anthology_link,
  email_link=site_config.email_link,
  youtube_link=site_config.youtube_link,
  x_link=site_config.x_link,
  bluesky_link=site_config.bluesky_link,
  github_link=site_config.github_link,
} = Astro.props as Props;
---

<MainLayout
  title={title}
  description={description}
  website_url={website_url}
  banner_path={banner_path}
  x_handle={x_handle}
  keywords={keywords}
  authors={authors}
  logo_path={logo_path}
  nav_title={nav_title}
  nav_items={nav_items}
  anthology_link={anthology_link}
  email_link={email_link}
  youtube_link={youtube_link}
  x_link={x_link}
  bluesky_link={bluesky_link}
  github_link={github_link}
>
<section class="overflow-hidden relative">
  <div class="pt-8 max-w-4xl">
    <CallForPapers components={custom_style_components} />
  </div>
</section>
</MainLayout>