---
import Subtitle from '@/components/mdx/Subtitle.astro';
import Speaker from './Speaker.astro';

interface Props {
    invited_speakers: Array<{
      image_path: string;
      name: string;
      affiliation: string;
      description: string;
      link: string;
      abstract?: string;
      bio?: string;
    }>;
    panelists: Array<{
      image_path: string;
      name: string;
      affiliation: string;
      link: string;
    }>;
}

const { invited_speakers, panelists } = Astro.props as Props;
---
<br>
<Subtitle>Invited Speakers</Subtitle>
{invited_speakers && invited_speakers.length > 0 ? (

  <div class="grid grid-cols-1 gap-4">
    {invited_speakers.map((speaker) => (
      <Speaker
        image_path={speaker.image_path}
        name={speaker.name}
        affiliation={speaker.affiliation}
        description={speaker.description}
        link={speaker.link}
        abstract={speaker.abstract}
        bio={speaker.bio}
      />
    ))}
  </div>
) : (
  <p class="text-gray-600 py-8">
    <em>We will announce invited speakers shortly, stay tuned!</em>
  </p>
)}
{panelists.length > 0 && (
  <Subtitle>Panelists</Subtitle>

  <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-4">
    {panelists.map((speaker) => (
      <div class="mt-auto sm:max-w-50">
        <Speaker
          image_path={speaker.image_path}
          name={speaker.name}
          affiliation={speaker.affiliation}
          link={speaker.link}
        />
      </div>
    ))}
  </div>
)}